---
export const prerender = false;
import Motorcycle from "../../components/Motorcycle.astro";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

export async function getStaticPaths() {
  const response = await fetch(
    "http://bluemotorsec.com/wp-json/wp/v2/motos"
  );
  const products = await response.json();

  return products.map((product) => ({
    params: { slug: product.slug },
  }));
}


---

<Layout title="hola">
  <main class="mx-auto max-w-6xl lg:py-20 py-10 lg:px-8">
    <Motorcycle slug={slug} />
  </main>
</Layout>;
